#playground {
  border: black 3px solid;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 86vw;
  height: 86vh;
  z-index: -1;
}

#main {
  background-color: rgb(210, 210, 210);
  position: absolute;
  left: 200px;
  top: 200px;
  width: 200px;
  height: 200px;
  box-shadow: -4px 6px 3px rgba(20, 20, 20, 0.7);
}

#header {
  background-color: rgb(70, 70, 70);
  position: relative;
  width: inherit;
  margin: auto;
  padding: 8px 0;
  max-height: 20%;
  font-size: 2vh;
  text-align: center;
  color: white;
}

#header:hover {
  cursor: move;
}

/*Add your code below*/


.resizers .resizer.dot{
  width: 5px;
  height: 5px;
  z-index: 10;
  background: pink;
  position: absolute;
}

.resizers .resizer.line{
  position: absolute;
  z-index: 5;
}

.resizers .resizer.top-left {
  cursor: nwse-resize; /*resizer cursor*/
}
.resizers .resizer.top-right {
  right: -5px;
  cursor: nesw-resize;
}
.resizers .resizer.bottom-left {
  bottom: -5px;
  cursor: nesw-resize;
}
.resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

.resizers .resizer.top {
  width:100%;
  border-top: 5px solid #000000;
  cursor: n-resize;
}
.resizers .resizer.right {
  height:100%;
  left:100%;
  border-right: 5px solid #000000;
  cursor: e-resize;
}
.resizers .resizer.left {
  height:100%;
  border-left: 5px solid #000000;
  cursor: w-resize;
}
.resizers .resizer.bottom {
  top:100%;
  width:100%;
  border-bottom: 5px solid #000000;
  cursor: s-resize;
}